[Unit] 
Description=neo4j

[Service] 
Type=forking
User=neo4j
ExecStart={{ neo4j_install_dir }}/{{ neo4j_flavor }}-{{ neo4j_version }}/bin/neo4j start
ExecStop={{ neo4j_install_dir }}/{{ neo4j_flavor }}-{{ neo4j_version }}/bin/neo4j stop
ExecReload={{ neo4j_install_dir }}/{{ neo4j_flavor }}-{{ neo4j_version }}/bin/neo4j restart
RemainAfterExit=no
Restart=on-failure
PIDFile={{ neo4j_install_dir }}/{{ neo4j_flavor }}-{{ neo4j_version }}/data/neo4j-service.pid
LimitNOFILE=60000
TimeoutSec=600

[Install] 
WantedBy=multi-user.target